iframe{
    display: block;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
.my_padding{
    padding: 0;
}
.row{
    margin: 0;
    padding: 0;
}
.navbar-brand{
    height: 85px;
    padding: 0;
}
.logo_img{
    width: 100px;
    padding: 0.5rem 2rem 1.5rem 2rem;
}
.logo_img2{
    width: 60px;
    padding: 1rem 1rem 1.5rem 0;
}
.logo_title{
    font-size: 25px;
}
.logo_title2{
    font-size: 18px;
}
.navbar{
    height: 85px;
    line-height: 85px;
    margin: 0;
}
.navbar-default {
    background-color: #f8f8f8;
    border: none;
}
.my_admin{
    padding: 1.5rem 2rem 1.5rem 0;
}
.btn-default {
    color: #333;
    background-color: #f8f8f8;
    border: none;
}
.my_menu{
    margin-top: -20px;
}
.cnav_ul{
    padding-left: 0;
    list-style: none;
    background-color: #2B2B2B;
    color: #ffffff;
    text-align: center;
}
.cnav_ul>li{
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    cursor: pointer;
}
.lie{
    border: 1px solid red;
}