html,body {
    height: 100%
}
.loginBg {
    padding-top: 2%;
}
@media screen and (max-width: 980px) {
    .loginBg {
        padding-top: 8%;
    }
}
.loginBg img {
    max-width: 100%;
}
.login {
    border-radius: 3px;
    border-left: 1px solid #ccc;
    color: #333;
}
@media screen and (max-width: 768px) {
    .login {
        border: none;
    }
}
.rem {
    padding-left: 1%;
}
.rem .col-lg-6,.rem .col-md-6,.rem .col-sm-6,.rem .col-xs-6 {
    padding: 0;
}
.rem span {
    font-weight: normal;
}
.loginTitle {
    margin-bottom: 5%;
}
.errorInfo {
    color: #f00;
    font-size: 1.2em;
    opacity: 0;
}
.forget {
    cursor: pointer;
}