iframe{
    display: block;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0;
    padding-right: 0;
}
.my_padding{
    padding: 0;
}
.row{
    margin: 0;
    padding: 0;
}
.navbar-brand{
    height: 85px;
    padding: 0;
}
.logo_img{
    width: 100px;
    padding: 0.5rem 2rem 1.5rem 2rem;
}
.logo_img2{
    width: 60px;
    padding: 1rem 1rem 1.5rem 0;
}
.logo_title{
    font-size: 25px;
}
.logo_title2{
    font-size: 18px;
}
.navbar{
    line-height: 85px;
    margin: 0;
}
.navbar-default {
    background-color: #f8f8f8;
    border: none;
}
.my_admin{
    padding: 1.5rem 2rem 1.5rem 0;
}
.btn-default {
    color: #333;
    background-color: #f8f8f8;
    border: none;
}
.my_menu{
    margin-top: -20px;
}
.cnav_ul{
    padding-left: 0;
    list-style: none;
    background-color: #383838;
    color: #ffffff;
    text-align: center;
}
.cnav_ul>li{
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    cursor: pointer;
}
.col-xs-10{
    padding:0;
}
::-webkit-scrollbar{
    display:none;
}
.headPhoto{
    width: 28px;
    height: 28px;
    background-image: url("../images/head.jpg");
    background-size: 100% 100%;
    margin-top:28px;
}
.top1px{
    margin-top: 1px;
}
.my_nav i{
    font-size: 20px;
    margin-right: 20px;
    cursor:pointer
}
/*测试*/
.lie{
    border: 1px solid red;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
a:hover, a:focus { text-decoration: none; outline: none; }
#accordion { padding-right: 24px; padding-left: 24px; z-index: 1; }
#accordion .panel { border: none; box-shadow: none; }
#accordion .panel-heading { padding: 0; border-radius: 0; border: none; }
#accordion .panel-title { padding: 0; }
#accordion .panel-title a { display: block; font-size: 16px; font-weight: bold; background: #009789; color: #ffffff; padding: 15px 25px; position: relative; margin-left: -24px; transition: all 0.3s ease 0s; }
#accordion .panel-title a.collapsed { background: #5eb978; color: #ffffff; margin-left: 0; transition: all 0.3s ease 0s; }
#accordion .panel-title a:before { content: ""; border-left: 24px solid #009789; border-top: 24px solid transparent; border-bottom: 24px solid transparent; position: absolute; top: 0; right: -24px; transition: all 0.3s ease 0s; }
#accordion .panel-title a.collapsed:before { border-left-color: #5eb978; }
#accordion .panel-title a:after { content: "\f106"; font-family: 'FontAwesome'; position: absolute; top: 30%; right: 15px; font-size: 18px; color: #f7c59f; }
#accordion .panel-title a.collapsed:after { content: "\f107"; color: #f5f5f5; }
#accordion .panel-collapse { position: relative; }
#accordion .panel-collapse.in:before { content: ""; border-right: 24px solid #00c7b9; border-bottom: 18px solid transparent; position: absolute; top: 0; left: -24px; }
#accordion .panel-body { font-size: 14px; color: #333; background: #e4e4e4; border-top: none; z-index: 1; }
.jq22-header h1{ text-align:center}
.jq22-container a{
    text-align: center;
}
.jq22-container p{
    text-align: center;
}
.jq22-container i{
    float: left;
}
.jq22-container{
    margin-top: 20px;
}
p {
    margin: 0 0 0;
    line-height: 36px;
}
.panel-body{
    padding: 0;
}
html{
    min-width:740px;

}