body{
    overflow-x:hidden;
}
.row{
    margin: 0;
    padding: 0;
}
.my_Col{
    height: 85px;
    line-height: 85px;
    margin-top: 20px;
    cursor: pointer;
    transition: all .3s linear;
}
.my_Col:hover{
    opacity: 0.8;
}
.col-sm-6{
    padding-right: 0;
}
.my_La{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #ffffff;
}
.my_Ra{
    border-top-right-radius:  5px;
    border-bottom-right-radius: 5px;
    color: #333333;
}
.my_L{
    background-color: #54ADE9;
}
.my_L2{
    background-color: #F85421;
}
.my_L3{
    background-color: #009789;
}
.my_L4{
    background-color: #5EB978;
}
.my_L5{
    background-color: #F7B924;
}
.my_L6{
    background-color: #2E4056;
}
.my_R{
    background-color: #f8f8f8;
}
.notice{
    background-color: #ffffff;
    margin-top: 2rem;
}
.my_notice{
    background-color: #F2F2F2;
    font-size: 16px;
    line-height: 50px;
    border-left: 5px solid #079783;
    border-bottom: 1px solid #E2E2E2;
    padding-left: 10px;
}
.notice>ul{
    list-style: none;
    border-left: 5px solid #E2E2E2;
    padding-left: 20px;
    border-right: 1px solid #E2E2E2;
}
.notice>ul>li{
    line-height: 60px;
    border-bottom: 1px dashed #E2E2E2;
}
.my_kinder{
    line-height: 60px;
    font-size: 18px;
    font-weight: initial;
    background-color: #F2F2F2;
    border-left: 5px solid #079783;
    margin-left: 2rem;
}