body{
    overflow-x:hidden;
}
.row{
    margin: 0;
    padding: 0;
}
.my_Col{
    height: 85px;
    line-height: 85px;
    margin-top: 20px;
    cursor: pointer;
    transition: all .3s linear;
}
.my_Col:hover{
    opacity: 0.8;
}
.col-sm-6{
    padding-right: 0;
}
.my_La{
    height: 85px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #ffffff;
}
.my_La>span{
    display: block;
    font-size: 40px;
    transition: all .3s linear;
}
#row1:hover .my_La>span{
    transform: rotate(360deg);
}
#row2:hover .my_La>span{
    transform: rotate(360deg);
}
#row3:hover .my_La>span{
    transform: rotate(360deg);
}
#row4:hover .my_La>span{
    transform: rotate(360deg);
}
#row5:hover .my_La>span{
    transform: rotate(360deg);
}
#row6:hover .my_La>span{
    transform: rotate(360deg);
}
.my_Ra{
    height: 85px;
    border-top-right-radius:  5px;
    border-bottom-right-radius: 5px;
    color: #333333;
}
.my_L{
    background-color: #54ADE9;
}
.my_L2{
    background-color: #F85421;
}
.my_L3{
    background-color: #009789;
}
.my_L4{
    background-color: #5EB978;
}
.my_L5{
    background-color: #F7B924;
}
.my_L6{
    background-color: #2E4056;
}
.my_R{
    background-color: #f8f8f8;
    font-size: 18px;
}
.notice{
    background-color: #ffffff;
    margin-top: 2rem;
}
.my_notice{
    background-color: #F2F2F2;
    font-size: 16px;
    line-height: 50px;
    border-left: 5px solid #079783;
    border-bottom: 1px solid #E2E2E2;
    padding-left: 10px;
}
.notice>ul{
    list-style: none;
    border-left: 5px solid #E2E2E2;
    padding-left: 20px;
    border-right: 1px solid #E2E2E2;
}
.notice>ul>li{
    line-height: 60px;
    border-bottom: 1px dashed #E2E2E2;
}
.my_kinder{
    line-height: 60px;
    font-size: 18px;
    font-weight: initial;
    background-color: #F2F2F2;
    border-left: 5px solid #079783;
}
/*fonts*/
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}